.logo {
    background: #fff;
}

.dropdown-toggle::before {
    content: "";
}
.dropdown{
    .fa-angle-up{
        display: none;
    }
}
.dropdown:hover {
    .dropdown-menu {
        display: block;
    }
    .fa-angle-down{
        display: none;
    }
    .fa-angle-up{
        display: inline-block;
    }
}

/* ∧ */
.login_button {
    width: 10rem;
}

@media screen and (max-width: 992px) {
    .search_parent {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .search_parent {
        width: 50%;
    }
}